/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Header */
    header {
        background-position: 20%;
    }

    .main-content {
        width: 60%;
        font-size: 7vh;
    }

    /* About */
    .about h2 {
        font-size: 3vh;
        padding: 1vh;
    }

    .about-artists p  {
        font-size: 5vh;
        line-height: 4vh;
    }

    .about-images {
        display: none;
    }

    /* Expansion */
    .expansion-about img {
        display: none;
    }

    .expansion-about--gray-box {
        display: none;
    }

    .expansion_reason--graybox {
        display: none;
    }

    .expansion-about-textcontent {
        display: none;
    }

    .expansion-content--heading-wrapper {
        display: block;
        width: 90%;
        margin: auto;
    }

    .expansion-reasons {
        width: 100%;
        margin: auto;
    }

    .expansion-reasons__main-content {
        width: 80%;
        text-align: left;
        margin: auto;
        margin-top: 6vh;
    }

    .expansion-target-audience {
        width: 80%;
        margin: auto;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Header */
    .main-content {
        width: 80%;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Header */
    header {
        background-position: 90%;
    }
    
    .main-content {
        font-size: 5vh;
        width: 60%;
    }

    /* About */
    .about-content {
        padding: 7vh 0 0 0;
    }

    .about h2 {
        font-size: 3vh;
        padding: 1vh;
    }

    .about-artists p  {
        font-size: 4vh;
        line-height: 4vh;
        margin-top: 6vh;
    }

    .about-images img:first-child {
        top: 40px;
        left: 5vw;
        height: 30vh;
    }
    
    .about-images img:last-child {
        top: 10vh;
        left: 60vw;
        height: 30vh;
    }

    /* Expansion */
    .expansion-about img {
        display: none;
    }

    .expansion-about--gray-box {
        display: none;
    }

    .expansion_reason--graybox {
        display: none;
    }

    .expansion-about-textcontent {
        display: none;
    }

    .expansion-content--heading-wrapper {
        display: block;
        width: 90%;
        margin: auto;
    }

    .expansion-reasons {
        width: 100%;
        margin: auto;
    }

    .expansion-reasons__main-content {
        width: 80%;
        text-align: left;
        margin: auto;
        margin-top: 6vh;
    }

    .expansion-target-audience {
        width: 80%;
        margin: auto;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1025px) and (max-width: 1366px) {
    /* About */
    .about-images img:first-child {
        top: 40px;
        left: 5vw;
        height: 50vh;
    }
    
    .about-images img:last-child {
        top: 10vh;
        left: 60vw;
        height: 50vh;
    }

    /* Expansion */
    .expansion-about img {
        height: 50vh;
        left: 4vw;
    }
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
      /* About */
      .about-artists p  {
        font-size: 5vh;
        line-height: 4vh;
    }
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Expansion */
    .expansion-about img {
        display: none;
    }

    .expansion-about--gray-box {
        display: none;
    }

    .expansion_reason--graybox {
        display: none;
    }

    .expansion-about-textcontent {
        display: none;
    }

    .expansion-content--heading-wrapper {
        display: block;
        width: 90%;
        margin: auto;
    }

    .expansion-reasons {
        width: 100%;
        margin: auto;
    }

    .expansion-reasons__main-content {
        width: 80%;
        text-align: left;
        margin: auto;
        margin-top: 6vh;
        font-size: 4vh;
        line-height: 6vh;
    }

    .expansion-target-audience__heading {
       font-size: 3vh;
       line-height: 3vh;
    }
    .expansion-target-audience__content {
        font-size: 3vh;
    }

    .expansion-target-audience {
        width: 80%;
        margin: auto;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .expansion-reasons {
        width: 100%;
        margin: auto;
    }

    .expansion-reasons__main-content {
        font-size: 2vh;
    }

    .expansion-target-audience__heading {
        font-size: 2vh;
        line-height: 3vh;
     }

    .expansion-target-audience__content {
        font-size: 2vh;
     }
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Header */
    .main-content {
        font-size: 2vh;
        width: 100%;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
     /* Header */
     .main-content {
        font-size: 5vh;
        width: 60%;
    }
}

/* Nexus 7 ----------- */
@media only screen and (min-device-width: 600px) and (max-device-height: 960px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
     /* Header */
     .main-content {
        font-size: 5vh;
        width: 60%;
    }

    .about-artists p  {
        font-size: 4vh;
        line-height: 4vh;
        margin-top: 6vh;
    }

    .about-images img:first-child {
        top: 40px;
        left: 5vw;
        height: 30vh;
    }
    
    .about-images img:last-child {
        top: 10vh;
        left: 60vw;
        height: 30vh;
    }

    /* Expansion */
    .expansion-about img {
        display: none;
    }

    .expansion-about--gray-box {
        display: none;
    }

    .expansion_reason--graybox {
        display: none;
    }

    .expansion-about-textcontent {
        display: none;
    }

    .expansion-content--heading-wrapper {
        display: block;
        width: 90%;
        margin: auto;
    }

    .expansion-reasons {
        width: 100%;
        margin: auto;
    }

    .expansion-reasons__main-content {
        width: 80%;
        text-align: left;
        margin: auto;
        margin-top: 6vh;
    }

    .expansion-target-audience {
        width: 80%;
        margin: auto;
    }
}
    
@media only screen and (min-device-width: 600px) and (max-device-height: 960px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
     /* Header */
     .main-content {
        font-size: 5vh;
        width: 60%;
    }

    .about-artists p  {
        font-size: 4vh;
        line-height: 4vh;
        margin-top: 6vh;
    }

    .about-images img:first-child {
        top: 40px;
        left: 5vw;
        height: 30vh;
    }
    
    .about-images img:last-child {
        top: 10vh;
        left: 60vw;
        height: 30vh;
    }

      /* Expansion */
      .expansion-about img {
        display: none;
    }

    .expansion-about--gray-box {
        display: none;
    }

    .expansion_reason--graybox {
        display: none;
    }

    .expansion-about-textcontent {
        display: none;
    }

    .expansion-content--heading-wrapper {
        display: block;
        width: 90%;
        margin: auto;
    }

    .expansion-reasons {
        width: 100%;
        margin: auto;
    }

    .expansion-reasons__main-content {
        width: 80%;
        text-align: left;
        margin: auto;
        margin-top: 6vh;
    }

    .expansion-target-audience {
        width: 80%;
        margin: auto;
    }
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
     /* Header */
     .main-content {
        font-size: 5vh;
        width: 60%;
    }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
     /* Header */
     .main-content {
        font-size: 5vh;
        width: 60%;
    }
}
