/* Utils */
body {
    font-family: Cinzel, sans-serif;
    margin: 0;
    padding: 0;
    color: #252525;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
}

.scroller {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.flex-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

/* Header */
header {
    height: 100vh;
    width: 100%;
    background: url('../img/main-bg.png') no-repeat center center /cover;
    padding: 4vh 0 4vh 0;
    box-sizing: border-box;
    scroll-snap-align: start;
}

section {
    scroll-snap-align: start;
    background-color: #797A7E;
    height: 100vh;
}

.navbar {
    justify-content: end;
    transition: all 2s ease;
}

.navbar p {
    text-transform: uppercase;
    font-weight: 700;
    font-family: Tajawal, sans-serif;
    font-size: 20px;
    margin-right: 35px;
}

.main-content {
    display: block;
    font-size: 7vh;
    width: 40%;
    margin-left: 15vw;
}

.header-nav {
    z-index: 1;
    position: absolute;
    height: 0vh;
    width: 0%;
    background-color: snow;
    bottom: 0;
    transition: all 0.5s ease;
    overflow-x: hidden;
    overflow-y: hidden;
}

.header-nav nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-nav nav a {
    font-size: 6vh;
    line-height: 10vh;
    font-family: Cinzel;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: #252525;
    text-shadow: 10px 20px 20px rgba(0, 0, 0, 0.28);
}

.header-nav nav a:hover {
    color: tomato;
}

.header-nav .close-btn {
    padding: 5vh;
    font-family: Tajawal, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    color: #252525;
    font-size: 20px;
}

/* About */
.about-content {
    text-align: center;
    padding: 8vh 0 0 0 ;
    box-sizing: border-box;
    position: relative;
}

.about-images img {
    position: absolute;
}

.about-images img:first-child {
    top: 40px;
    left: 50px;
}

.about-images img:last-child {
    top: 200px;
    left: 1020px;
}

.about-images {
    position: absolute;
    z-index: 0;
}

.about h2 {
    color: #F7F2E7;
    font-size: 3.5vh;
    display: inline;
    text-align: center;
    text-shadow: 10px 20px 20px rgba(0, 0, 0, 0.28);
    font-family: Tajawal, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
}

.about-artists {
    z-index: 1;
    text-align: center;
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
}

.about-artists p {
    font-family: Cinzel;
    font-style: normal;
    font-weight: normal;
    font-size: 8vh;
    line-height: 6vh;
    color: #F7F2E7;
    text-shadow: 10px 20px 20px rgba(0, 0, 0, 0.28);
    margin-top: 8vh;
}

/* Expansion */
.expansion {
    position: relative;
}

.expansion-content {
    text-align: center;
    display: block;
    padding-top: 2vh;
}

.expansion-content--heading-wrapper {
    display: block;
    width: 30%;
    margin: auto;
}

.expansion-content h2 {
    display: inline;
    font-family: Cinzel;
    font-style: normal;
    font-weight: normal;
    font-size: 5vh;
    line-height: 7vh;
    color: #CEFEF3;
}

.expansion-about {
    position: absolute;
    top: 12vh;
}

.expansion-about img {
    position: absolute;
    z-index: 1;
    left: 5.8vw;
    height: 63vh;
}

.expansion-about--gray-box {
    position: absolute;
    width: 32vw;
    height: 40vh;
    background: #66676B;
    z-index: 0;
    top: 32vh;
    left: 2.3vw;
}

.expansion-about-textcontent {
    position: absolute;
    font-family: Italianno;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 100px;
    color: #CEFEF3;
    z-index: 2;
    top: 40vh;
    left: 70px;
}

.expansion-reason__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.expansion-reasons {
    width: 30%;
    margin-top: 8vh;
    margin-right: 40vh;    
}

.expansion-reasons__main-content {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vh;
    line-height: 3vh;
    letter-spacing: 0.1em;
    text-align: left;
    color: #F7F2E7;
    width: 100%;
    border-bottom: 1px solid #CEFEF2;
    padding-bottom: 3vh;
}

.expansion-target-audience {
    width: 100%;
    border-bottom: 1px solid #CEFEF2;
    text-align: left;
    padding: 2vh 0 2vh 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.expansion-target-audience__heading {
    text-align: left;
    text-transform: uppercase;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8vh;
    line-height: 2vh;
    letter-spacing: 0.1em;
    color: #F7F2E7;
}

.expansion-target-audience__content {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8vh;
    line-height: 2vh;
    text-align: center;
    letter-spacing: 0.1em;
    color: #F7F2E7;
}

.expansion_reason--graybox {
    position: absolute;
    width: 20vh;
    height: 20vh;
    background: #66676B;
    right: 0vh;
    top: 30vh;
}

.expansion_reason--graybox p {
    font-family: Tajawal;
    font-style: normal;
    font-weight: bold;
    font-size: 2.4vh;
    line-height: 2vh;
    text-align: center;
    letter-spacing: 0.1em;
    color: #F7F2E7;
    padding-top: 7vh;
}

/* Gallery */
.gallery {
    padding-top: 50px;
    box-sizing: border-box;
}

.gallery-content {
    height: 90vh;
    background: url('../img/vinci-bg.png') no-repeat bottom center /cover;
    filter: drop-shadow(10px 20px 50px rgba(0, 0, 0, 0.28));
    overflow: hidden;
}

.gallery-content--heading-wrapper {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 60%;
}

.gallery-content--heading-wrapper h2 {
    position: absolute;
    text-transform: uppercase;
    font-family: Cinzel;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 107px;
    text-align: left;
    letter-spacing: 0.1em;
    color: #F7F2E7;
    z-index: 0;
    left: -57px;
    display: inline;
}

.gallery-content-image {
    position: absolute;
    top: 100px;
    right: 300px;
    box-shadow: 40px 0px 50px 10px rgba(0, 0, 0, 0.25);
}

/* Footer */
.contact {
    width: 100%;
    height: 68vh;
    display: flex;
    flex-direction: row;
}

.contact-join-us {
    width: 50%;
    height: 68vh;
    background-color: #252525;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.join-us-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-join-us h4 {
    font-family: Tajawal;
    font-style: normal;
    font-weight: normal;
    font-size: 3vh;
    line-height: 7vh;
    color: #FFFFFF;
    text-transform: uppercase;
}

.contact-join-us h3 {
    width: 40%;
    font-family: Cinzel;
    font-style: normal;
    font-weight: normal;
    font-size: 3vh;
    line-height: 147.3%;
    text-align: center;
    color: #CEFEF3;
}

.contact-join-us input {
    display: block;
    box-sizing: border-box;
    border: 1px solid #CEFEF3;
    width: 40%;
    height: 7vh;
    background-color: transparent;
    margin: auto;
    font-family: Tajawal;
    font-style: normal;
    font-weight: normal;
    font-size: 2vh;
    line-height: 84.3%;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4C5351;
}

.contact-join-us button {
    box-sizing: border-box;
    border: 1px solid #CEFEF3;
    width: 40%;
    height: 7vh;
    background-color: transparent;
    text-transform: uppercase;
    color: #CEFEF2;
    font-family: Tajawal;
    font-style: normal;
    font-weight: normal;
    font-size: 2vh;
    line-height: 84.3%;
    cursor: pointer;
}

form {
    margin-top: 2vh;
    height: 100%;
    width: 100%;
    text-align: center;
}


.contact-share-us {
    width: 50%;
    height: 68vh;
    background-color: #DDD5D2;
    position: relative;
}

.contact-share-us h4 {
    position: absolute;
    top: -3vh;
    width: 60%;
    font-family: Cinzel;
    font-style: normal;
    font-weight: normal;
    font-size: 7vh;
    line-height: 15vh;
    color: #252525;
    text-shadow: 10px 20px 20px rgba(0, 255, 255, 1);
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 1;
}

.contact-share-us img {
    position: absolute;
    z-index: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    top: 14vh;
}

footer {
    width: 100%;
    background-color: #F7F2E7;
    height: 32vh;
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding-top: 5vh;
}

.footer-navbar h4 {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 2vh;
    line-height: 2.3vh;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

ul li {
    list-style-type: none;
    padding-bottom: 1vh;
}

ul li a {
    text-decoration: none;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 400;
    font-size: 2vh;
    line-height: 2.3vh;
    text-align: center;
    letter-spacing: 0.1em;
    color: #000000;
    text-transform: uppercase;
}

.footer-logo {
    width: 10%;
}

.footer-about {
    width: 20%;
}

.footer-social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1vh;
}

a:hover {
    color: #78BFAE;
}

.footer-description p {
    width: 90%;
}

.footer-description span {
    display: block;
    text-align: right;
}

.footer-description span:nth-child(2) {
    font-family: Italianno;
    font-style: normal;
    font-weight: normal;
    font-size: 3vh;
    color: #78BFAE;
}

.footer-description span:last-child {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vh;
    line-height: 2vh;
    text-align: right;
    letter-spacing: 0.1em;
}